<!DOCTYPE html>
<html>
  <head>
    <title>TeleScreen</title>
    <link rel="manifest" type="image/png" href="{{ url('resources', path='json/manifest.json') }}"/>
    <link rel="icon" sizes="192x192" type="image/png" href="{{ url('resources', path='images/telescreen-192.png') }}"/>
    <link rel="icon" sizes="144x144" type="image/png" href="{{ url('resources', path='images/telescreen-144.png') }}"/>
    <link rel="icon" sizes="96x96" type="image/png" href="{{ url('resources', path='images/telescreen-96.png') }}"/>
    <link rel="icon" sizes="72x72" type="image/png" href="{{ url('resources', path='images/telescreen-72.png') }}"/>
    <link rel="icon" sizes="64x64" type="image/png" href="{{ url('resources', path='images/telescreen-64.png') }}"/>
    <link rel="icon" sizes="48x48" type="image/png" href="{{ url('resources', path='images/telescreen-48.png') }}"/>
    <link rel="icon" sizes="32x32" type="image/png" href="{{ url('resources', path='images/telescreen-32.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url('resources', path='css/telescreen.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <script src="{{ url('resources', path='js/libs/classList.min.js') }}"></script>
    <script src="{{ url('resources', path='js/libs/promise.min.js') }}"></script>
    <script src="{{ url('resources', path='js/libs/fetch.umd.js') }}"></script>
    <script src="{{ url('resources', path='js/base.js') }}"></script>
    {% if identity %}
      <script>
        window.onload = function(e) {
            check_server_connectivity();
        }
      </script>
    {% endif %}
  </head>
  <body>
    <div class="top_box vertical_split">
      <div class="top_bar horizontal_split">
        <div class="logo">
          <img src="{{ url('resources', path='images/telescreen-64.png') }}"/><h1>TELESCREEN</h1>
        </div>
        <div class="navigation_menu_wrapper">
          <div class="navigation_menu">
            {% block navigation_menu %}
              {% for item in navigation_items %}
                {% if item.link %}
                  <a class="{{ item.css_class }}" href="{{ item.link }}">{{item.text}}</a>
                {% else %}
                  <span class="{{ item.css_class }}">{{item.text}}</span>
                {% endif %}
              {% endfor %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="content_box">
        {% block content %}{% endblock %}
      </div>
      <div class="overlay_box hidden" id="top_message">
      </div>        
    </div>
  </body>
</html>