{% extends "base.jinja2" %}

{% block content %}
  <div class="center_box">
    <div class="dialog_box">
      <div class="dialog_title">
        <h3>{% block dialog_title %}{% endblock %}</h3>
      </div>
      <div class="dialog_body">
        {% block dialog_body %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
