{% extends "base.jinja2" %}

{% block content %}
  <div class="text_box">
    <script src="{{ url('resources', path='js/hls.min.js') }}"></script>
    <video id="video" autoplay controls class="big_video"></video>
    <span id="time">--:--</span>        
    <script>
      video_url = '{{ url('playlist') }}?timedelta={{ timedelta }}';
      if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var currentFragment = null;
        var timeDisplay = document.getElementById('time');
        var hls = new Hls();
        hls.loadSource(video_url);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
          video.play();
        });
        hls.on(Hls.Events.FRAG_CHANGED, function(event, data) {
          currentFragment = data.frag;
        });
      }
      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = video_url;
        video.addEventListener('canplay', function() {
          video.play();
        });
      }
      video.addEventListener('timeupdate', function(ev) {
        /*var level = hls.levels[hls.currentLevel];*/
        /*var currentDateTime = new Date(level.details.fragments[0].programDateTime.getTime() + 1000 * (video.currentTime - level.details.fragments[0].start));*/
        var currentDateTime = new Date(currentFragment.programDateTime.getTime() + 1000 * (video.currentTime - currentFragment.start));
        timeDisplay.textContent = currentDateTime.toISOString();
      });
    </script>
  </div>
{% endblock %}
