{% extends "dialog.jinja2" %}

{% block dialog_title %}Authentication required{% endblock %}

{% block dialog_body %}
  <form action="{{ post_url }}" method="post">
    {% if error_message %}
      <p class="error span_width">{{ error_message }}</p>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" value="{{ username }}"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value=""/>
    <input type="hidden" name="from_url" id="from_url" value="{{ from_url }}"/>
    <br/>
    <br/>
    <div class="centered">
      <input type="submit" name="submit" id="submit" value="Send"/>
    </div>
  </form>
{% endblock %}
