{% extends "base.jinja2" %}

{% block content %}
  <div class="vertical_split">
    <div class="content_box">
      {% block timelined_content %}{% endblock %}
    </div>
    <div class="text_box nogrow noshrink">
      <script src="{{ url('resources', path='js/libs/vis-timeline-graph2d.min.js') }}"></script>
      
      <div id="timeline" class="loading loadable"></div>
      
      <script src="{{ url('resources', path='js/timeline.js') }}"></script>
    </div>
  </div>
{% endblock %}
