@import "libs/vis-vis-graph2d.min.css";
@import "fonts.css";
@import "animations.css";

/* Default everything to border-box metrics */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Make html and body elements always fill the whole
   client window, and set default fonts and colors. */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: Exo2, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: medium;
    color: #dddddd;
    text-decoration-skip: ink;
}


/* Style for links. */

a {
    font-weight: 500;
    color: #ffffff;
}

a:link {
    color: #ffffff;
}

a:hover,
a:focus {
    color: #ffdd55;
}

a:active {
    color: #ffee44;
}


/* Paragraph. */

p {
    margin: 2px;
}


/* Style for headers. */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ddbb99;
    margin: 4px 0px 2px 0px;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 400;
}


/* Style for horizontal ruler. */

hr {
    margin: 8px 0px 8px 0px;
    border: 1px solid #cc8800;
}


/* Form styles. */

label {
    display: block;
}

input {
    border: 2px inset #441919;
    border-radius: 6px;
    background-color: #111111;
    color: #eeeebb;
    padding: 4px;
    margin: 4px;
    font-family: Exo2, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: medium;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
    border: 2px outset;
    background-color: #bbbbbb;
    color: #000000;
}


/* General classes. */


/* This resource is still being loaded. */

.loading * {
    opacity: 0;
}

.loadable {
    position: relative;
}

.loadable * {
    transition: opacity 3s ease;
}

.loadable::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    margin-top: -0.5em;
    margin-left: -0.5em;
    top: 50%;
    left: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 2em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: lightgray;
    content: "\f2f1";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: opacity 3s ease, visibility 3s step-end;
    opacity: 0;
    visibility: hidden;
    font-style: normal;
    animation: spin 4s linear infinite;
}

.loadable.loading::before {
    opacity: 1.0;
    visibility: visible;
    transition: opacity 3s ease, visibility 3s step-start;
}


/* Center text */

.centered {
    text-align: center;
}


/* To hide something. */

.hidden {
    visibility: hidden;
}


/* To span the whole width of the container. */

.span_width {
    left: 0;
    right: 0;
}


/* Error, warning... */

.notice {
    border: 2px solid #000000;
    border-radius: 16px 4px 16px 4px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    padding: 4px;
    color: #000000;
    background-color: #eeeeee;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}

.warning {
    border: 2px solid #000000;
    border-radius: 16px 4px 16px 4px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    padding: 4px;
    color: #000000;
    background-color: #ffff80;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}

.error {
    border: 2px solid #ff0000;
    border-radius: 16px 4px 16px 4px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    padding: 4px;
    color: #000000;
    background-color: #ffcccc;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}

.notice::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 1.33333em;
    vertical-align: -0.08em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: mediumblue;
    content: "\f05a";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.warning::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 1.33333em;
    vertical-align: -0.08em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: darkorange;
    content: "\f06a";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.error::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 1.33333em;
    vertical-align: -0.08em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: red;
    content: "\f057";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.notice a,
.warning a,
.error a {
    display: inline-block;
    background-color: #2266aa;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    margin: 4px;
    padding: 2px;
    background-color: #2266aa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.notice a:hover,
.warning a:hover,
.error a:hover {
    border: 2px solid #cc8800;
}

.detail {
    border: 2px solid #000000;
    border-radius: 4px 4px 4px 4px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    padding: 4px;
    color: #000000;
    background-color: #dddddd;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


/* text_box is a viewport for scrollable HTML content. */

.text_box {
    padding: 10px;
    background-color: #333333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/* content_box is a padding-less viewport whose single
   child will be scaled to 100% both horizontally and
   vertically. */


/* top_box is a top level container, expected to be the
   only child of the body element.*/

.content_box,
body {
    position: relative;
    padding: 0;
    background-color: #222222;
}

.content_box>*,
body>.top_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* overlay_box fills its parent with a transparent overlay which
  starts hidden (scripting will make it visible) */

.overlay_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 4px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}


/* center_box places its only child within it, centered. */

.center_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.8);
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

.center_box>* {
    border: 4px solid #cc8800;
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
}


/* dialog_box defines the background for a dialog. */

.dialog_box {
    padding: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
    overflow: hidden;
}


/* dialog_title is the header for a dialog. */

.dialog_title {
    padding: 10px;
    background-color: #662222;
    width: 100%;
    border-bottom: 4px solid #cc8800;
    text-align: center;
}


/* dialog_body is the main content for a dialog. */

.dialog_body {
    padding: 10px;
    background-color: #333333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/* horizontal_center places its children horizontally centered. */

.horizontal_center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
}

.horizontal_center>* {
    margin: auto;
}


/* Vertical/horizontal split. Optional resize support. */

.vertical_split,
.horizontal_split {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    padding: 0;
}

.horizontal_split {
    flex-direction: row;
}

.vertical_split {
    flex-direction: column;
}

.horizontal_split.resizable>:first-child {
    resize: horizontal;
    overflow: hidden;
    border-right: 4px ridge #cc8800;
    padding-right: 4px;
}

.vertical_split.resizable>:first-child {
    resize: vertical;
    overflow: hidden;
    border-bottom: 4px ridge #cc8800;
    padding-bottom: 4px;
}

.horizontal_split>*,
.vertical_split>* {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

.nogrow {
    flex-grow: 0;
}

.noshrink {
    flex-shrink: 0;
}


/* Top header. This contains the logo and the navigation
   menu. */

.top_bar {
    height: 4.5vw;
    min-height: 4.5vw;
    background-color: #111111;
    flex: 0 0 auto;
}


/* Logo. */

.logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0.25vw;
    align-items: center;
    flex: 0 1 auto;
}

.logo>img {
    top: 0;
    bottom: 0;
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.logo>h1 {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 4vw;
}


/* Navigation menu. */

.navigation_menu_wrapper {
    flex: 1 1 0;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.navigation_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-start;
    min-height: 100%;
}

.navigation_menu>* {
    display: inline-block;
    background-color: #2266aa;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
    margin: 4px;
    padding: 2px;
    flex: 0 0 auto;
    background-color: #2266aa;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.navigation_menu>:not(a) {
    color: #000000;
}

.navigation_menu>a:hover {
    border: 2px solid #cc8800;
}

.navigation_menu>.selected {
    background-color: #cc8800;
}

.navigation_menu>.info {
    background-color: #888888;
}

.navigation_menu>.logout {
    background-color: #aa2222;
}

@media screen and (min-width: 1600px) {
    .top_bar {
        height: 72px;
        min-height: 72px;
    }
    .logo {
        padding: 4px;
    }
    .logo>img {
        width: 64px;
        height: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .logo>h1 {
        font-weight: 600;
        font-size: 56px;
        line-height: 64px;
    }
}

@media screen and (max-width: 600px) {
    .top_bar {
        height: 27px;
        min-height: 27px;
    }
    .logo {
        padding: 1.5px;
    }
    .logo>img {
        width: 24px;
        height: 24px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .logo>h1 {
        display: none;
    }
}


/* Video elements. */

.big_video {
    width: 100%;
    display: block;
}


/* Timeline customization. */

#timeline {
    left: 0;
    right: 0;
    min-height: 5vh;
    margin: 4px;
}

.vis-timeline .vis-rolling-mode-btn {
    padding: 2px;
    z-index: 3;
}

.vis-timeline .vis-rolling-mode-btn:before {
    content: "\f017";
    font-family: 'Font Awesome 5 Free';
}

#timeline .vis-timeline {
    border: 4px inset #7777;
    color: #dddddd;
    font-weight: 300;
    background: #121212;
}

.vis-timeline .vis-item {
    border: 1px solid #cc8800;
    border-radius: 3px;
    background-color: #2266aa;
    color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.vis-timeline .vis-timeline .vis-item.pending {
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #aa2222 40px, #aa2222);
}

.vis-timeline .vis-item.timeline-signal-item {
    background-color: #aa2222;
}

.vis-timeline .vis-item.timeline-signal-item.pending {
    background-image: linear-gradient(to left, transparent, #aa2222 40px, #aa2222);
}

.vis-timeline .vis-item.pending {
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #2266aa 40px, #2266aa);
    border-right-style: dashed;
}

.vis-timeline .vis-item.vis-dot {
    border-width: 5px;
    border-radius: 5px;
}

.vis-timeline .vis-item.vis-selected {
    border-color: #cc8800;
    background-color: #cc8800;
}

.vis-timeline .vis-item.vis-selected.pending {
    border-color: #cc8800;
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #cc8800 40px, #cc8800);
}

.vis-timeline .vis-current-time {
    background-color: #cc8800;
    width: 2px;
}

.vis-timeline .vis-time-axis .vis-text {
    color: #dddddd;
}

.vis-timeline .vis-time-axis .vis-text.vis-major {
    font-weight: 800;
}

.vis-timeline .vis-time-axis .vis-text.vis-minor {
    font-weight: 600;
}

.vis-timeline .vis-time-axis .vis-grid.vis-minor {
    border-width: 1px;
    border-color: #bbbbbb;
}

.vis-timeline .vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #bbbbbb;
}

.vis-timeline .vis-item.vis-background {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.vis-timeline .vis-item.vis-background.timeline-camera-item {
    background-color: rgba(180, 120, 0, 0.6);
}

.vis-timeline .vis-label.vis-nested-group {
    background-color: #282828;
}

.vis-timeline .vis-label.vis-nested-group.vis-group-level-unknown-but-gte1 {
    background-color: #282828;
}

.vis-timeline.vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 2em;
}

.vis-timeline .vis-labelset .vis-label {
    color: #dddddd;
    font-weight: 600;
    border-bottom: 1px solid #bfbfbf;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.vis-timeline .vis-label.vis-nesting-group.expanded::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    margin-left: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: grey;
    content: "\f146";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.vis-timeline .vis-label.vis-nesting-group.collapsed::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    margin-left: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: grey;
    content: "\f0fe";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.vis-timeline .vis-labelset .vis-label.timeline-camera-group::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 0.3em;
    margin-left: 0.3em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: green;
    content: "\f03d";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}